:root {
    --btn-color: #917851;
    --btn-border-color: #917851;
    --btn-text-color: aliceblue;
    --text-color: black;
}

body {
    margin-left: 40px;
    color: #917851;
    font-size: 22px;
    font-family: Broadway;
    background: #111010 url(images/background/5.jpg); background-size: 100%; /* Цвет фона и путь к файлу */
}
input {
    border-radius: 4px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 30px;
}
* {
    outline: none;
}

.hidden {
    display: none;
}
.active {
    background: #141414;
    border-radius: 4px;
}
.display-off {
    display: none;
}
.login-form {
    top: 20%;
}
.form {
    border: 0px solid var(--btn-border-color);
    border-radius: 11px;
}
.btn-form {
    width: 100%;
    background-color: var(--btn-color);
    border-color: var(--btn-border-color);
    border-radius: 5px;
    color: var(--btn-text-color);
    height: 30px;
    margin-bottom: 5px;
}
.change-block {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
}
.validator_error {
    border: 2px solid red;
}
.error-message{
    width: 80%;
    font-size: 15px;
    color: #ff3a26;
}
.validator_success {
    border: 2px solid green;
}
