:root {
    --btn-color: darkgreen;
    --btn-border-color: green;
    --btn-text-color: aliceblue;
    --text-color: black;
}
body {
    background-color: #d3d3d3;
}
input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 30px;
}
.display-off {
    display: none;
}
.login-form {
    top: 20%;
}
.form {
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
}
.btn-form {
    width: 100%;
    background-color: var(--btn-color);
    border-color: var(--btn-border-color);
    border-radius: 5px;
    color: var(--btn-text-color);
    height: 30px;
}
.change-block {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 30px;
}
.validator_error {
    border: 2px solid red;
}
.validator_success {
    border: 2px solid green;
}
